*{
    margin: 0;
    padding: 0;
}

:root{
    --color-botoes: #2b2b2b;
}

body{
    background-color: #141414;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

nav{
    display: flex;
    flex-direction: column;
}

.nav-volta{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 20px;
}

.nav-busque{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: var(--color-botoes);
    width: 100%;
}

input[type="text"]{
    border: none;
    background-color: var(--color-botoes);
    padding: 20px;
    font-size: 2em;
    color: white;
}

input[type="text"]:focus{
    border: none;
    color: white;
}

.btn{
    background-color: var(--color-botoes);
    border: none;
    margin-left: 20px;
}

.icon{
    width: 50px;
    height: 50px;
}

.container h2{
    text-align: center;
    padding: 30px 0;
    font-size: 35px;
}

.row-imgs{
    margin: 0 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 3em;
    row-gap: 3em;
}

.movie{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie img{
    height: 20em;
    width: auto;
    border-radius: 5px;
    margin: 5px;
}

.movie img:hover{
    cursor: pointer;
    transform: scale(1.07);
    transition: 0.5s;
}

.movie span{
    font-size: 25px;
}

button{
    cursor: pointer;
}


@media(max-width: 760px){
    .icon{
        width: 40px;
        height: 40px;
    }
    .img-name img{
        height: 5em;
        width: auto;
    }
}

@media(max-width: 685px){
    .icon{
        width: 30px;
        height: 30px;
    }
    .img-name img{
        height: 5em;
        width: auto;
    }
}

@media(max-width: 600px){
    input[type="text"]{
        width: 70vw;
        font-size: 20px;
    }

    .movie img{
        height: 15em;
        width: auto;
        border-radius: 5px;
        margin: 5px;
    }

    .container h2{
        font-size: 30px;
    }

}